.ent1,.ent2,.ent3{
   
   width: 50%;
   height: 50%;
   border: 30px;
   border: solid black;
   background-color:cadetblue;
   margin-bottom: 20px;
   margin-left: 350px;
   
}

.img1,.img2,.img3{
  
  width: 10%;
  background-position-x: 80px;
  background-position-y: 20px;
  position:relative;
  left: 10px;
  top: 20px; 
}

body{

   background-color:slategrey;

}
.descripcion1,.descripcion2,.descripcion3{
   
    position: relative;
    text-align: center;
    left: 30px;
    bottom:45px
     
}

.blogDes,.DESP{

    margin-left: 350px;

}

.Tit{

     margin-left: 500px;

}
/*Estilos para los temas en html*/

.t1,.t2,.t3,.t4,.t5{
        
        position: relative;
        width: 50%;
        height: 50%;
        border: 30px;
        border: solid black;
        background-color:cornflowerblue;
        margin-bottom: 20px;
        margin-left: 350px;
 
}

p{

   margin-left: 10%;
   position: relative;
}

h3{

   margin-left: 46%;
   position: relative;
}

h2{
     margin-left: 43%; position: relative;
}

h1{

   margin-left: 41%;
   position: relative;
}


